<div class="row row-main">
    <div class="col-lg-12"></div>
    <div class="col-lg-12 text-center">
        <div class="hero">
            <h1>Awesome{Sauce} Development</h1>
            <p>fluid, responsive development designed for anyone</p>
            <p><a class="btn btn-success btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="headline text-center">
                        <h2>Our Tools</h2>
                        <hr class="double-line">
                        <p class="bottom-margin--30 text text-size--17">These are just some of the feature packed tools we use here</p>
                    </div>
                </div>
            </div>
            <div class="row row__bottom-margin">
                <div class="col-md-6 html col-xs-12">
                    <div class="wow image lightSpeedIn">
                        <img src="../images/html.png" alt="html_css_javascript" class="img-responsive logo-icons center-block">
                    </div>
                </div>
                <div class="col-md-6 icon-desc col-xs-12">
                    <div class="wow text zoomIn">
                        <label>HTML - CSS - Javascript</label>
                        <p>These technologies are used in all modern browsers, from mobile to desktop, they are at the core of all website designs we do. From clickable mockups to ready-to-deploy, the UI/UX interaction magic happens here...</p>
                    </div>
                </div>
            </div>
            <div class="row row__bottom-margin">
                <div class="col-md-6 icon-desc ">
                    <div class="wow text zoomIn">
                        <label>Bootstrap</label>
                        <p>This CSS & Javascript framework has helped many developers cut time in bringing ideas to life. Here at Awesome{Sauce} we are no stranger to fast builds, and even faster mockups that work. Helping the client see the stages of how their ideas come to life really helps them appreciate the thought that went into the planning...</p>
                    </div>
                </div>
                <div class="col-md-6 bootstrap">
                    <div class="wow image lightSpeedIn">
                        <img src="../images/bootstrap.png" alt="Boostrap_logo" class="img-responsive logo-icons center-block">
                    </div>
                </div>
            </div>
            <div class="row row__bottom-margin">
                <div class="col-md-6 jquery">
                    <div class="wow image lightSpeedIn">
                        <img src="../images/jquery.png" alt="jQurery" class="img-responsive logo-icons center-block">
                    </div>
                </div>
                <div class="col-md-6 icon-desc">
                    <div class="wow text zoomIn">
                        <label>jQuery</label>
                        <p>The mobile javascript framework that changed how we did front-end work. Helping millions of people take their first step in learning this langauge, while paving the way for others to build and make changes on the front-end faster. Their "write less, do more" theory has made it super easy to make the webpage have actions.</p>
                    </div>
                </div>
            </div>
            <div class="row row__bottom-margin">
                <div class="col-md-6 icon-desc">
                    <div class="wow text zoomIn">
                        <label>Angular</label>
                        <p>The game changing MVC javascript framework that changed the world (we think). We liked it so much we decied to use for this very website. No wordpress here folks, full featured blog without that non-sense here. Angular has many awesome features, to many to list, but trust us this black magic is awesome...</p>
                    </div>
                </div>
                <div class="col-md-6 angular">
                    <div class="wow image lightSpeedIn">
                        <img src="../images/angular.png" alt="angular.js logo" class="img-responsive logo-icons center-block">
                    </div>
                </div>
            </div>
            <div class="row row__bottom-margin">
                <div class="col-md-6 ionic">
                    <div class="wow image lightSpeedIn">
                        <img src="../images/ionic.png" alt="Ionic logo" class="img-responsive logo-icons center-block">
                    </div>
                </div>
                <div class="col-md-6 icon-desc">
                    <div class="wow text zoomIn">
                        <label>Ionic Hybrid</label>
                        <p>This hybrid mobile framework allows us to build native looking mobile apps for iOs and Android phones. Giving us the power to porduce high quailty mobile apps for a fraction of the cost of those other development firms. Ionic uses Angular at its core, making data heavy apps the power it needs.</p>
                    </div>
                </div>
            </div>
            <div class="row row__bottom-margin">
                <div class="col-md-6 icon-desc">
                    <div class="wow text zoomIn">
                        <label>Onsen</label>
                        <p>Onsen is essentially the same as Ionic, it's a hybrid mobile app framework, but it gives us the choice to use either jQuery, Angular 1, Angular 2 or React.js (Facebook's MVC Javascript framework). Giving us even more ways to shave time off developing mobile apps and helps bridge the gap from website to mobile app data.</p>
                    </div>
                </div>
                <div class="col-md-6 onsen">
                    <div class="wow image lightSpeedIn">
                        <img src="../images/onsen.png" alt="Onsen logo" class="img-responsive logo-icons center-block">
                    </div>
                </div>
            </div>
            <div class="row row__bottom-margin">
                <div class="col-md-6 laravel">
                    <div class="wow image lightSpeedIn">
                        <img src="../images/laravel.png" alt="Laravel logo" class="img-responsive logo-icons center-block">
                    </div>
                </div>
                <div class="col-md-6 icon-desc">
                    <div class="wow image lightSpeedIn">
                        <label>Laravel</label>
                        <p>This server framework has so much potential and gives our php based applications the power to remain at the bleeding edge for development, in terms of anything that needs a php server that is. Laravel is still pretty new around these parts but like Angular, it uses templating engines to help development speed and ease of use.</p>
                    </div>
                </div>
            </div>
            <div class="row row__bottom-margin">
                <div class="col-md-6 icon-desc">
                    <div class="wow text zoomIn">
                        <label>Google Analytics</label>
                        <p>No website or mobile app is complete without all the juciy insights, data and revenue figures you would ever want right? How about monthly, weekly, even daily reports from how well a certain page is doing or if that facebook ad sent over those 100 visitors or not. This information is the most valuable a website can tell you about your ROI.</p>
                    </div>
                </div>
                <div class="col-md-6 google">
                    <div class="wow image lightSpeedIn">
                        <img src="../images/google.png" alt="google analytics logo" class="img-responsive logo-icons center-block">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row offRed offRed__padding-home">
    <div class="col-lg-12">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>OUR PROCESS</h2>
                    <hr class="double-line">
                    <p class="bottom-margin--30  text-size--17">Here is an overview of how we approach each new project.</p>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="circle wow">
                                <i class="fa fa-files-o"></i>
                            </div>
                        </div>
                        <div class="col-xs-9">
                            <h3>PLAN</h3>
                            <ul class="home-ul-list">
                                <li class="wow slideInUp">Client interview</li>
                                <li class="wow slideInDown">Gather consumer data</li>
                                <li class="wow slideInUp">Create content strategy</li>
                                <li class="wow slideInDown">Analyze research</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="circle wow">
                                <i class="fa fa-refresh" ></i>
                            </div>
                        </div>
                        <div class="col-xs-9">
                            <h3>CREATE</h3>
                            <ul class="home-ul-list">
                                <li class="wow slideInUp">Build wireframe</li>
                                <li class="wow slideInDown">Gather client feedback</li>
                                <li class="wow slideInUp">Code development</li>
                                <li class="wow slideInDown">Marketing review</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="circle wow">
                                <i class="fa fa-rocket"></i>
                            </div>
                        </div>
                        <div class="col-xs-9">
                            <h3>LAUNCH</h3>
                            <ul class="home-ul-list">
                                <li class="wow slideInUp">Deploy website</li>
                                <li class="wow slideInDown">Market product launch</li>
                                <li class="wow slideInUp">Collect UX data</li>
                                <li class="wow slideInDown">Quarterly maintenence</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
