<div class="row row-pricing">
    <div class="container text-center">
        <div class="col-md-4 price--bg">
            <h2>Simple</h2>
            <hr class="double-line">
            <p>$- / month</p>
            <ul class="list-group">
                <li class="list-group-item">Some visionary things that make the price look small</li>
                <li class="list-group-item">Some visionary things that make the price look small</li>
                <li class="list-group-item">Some visionary things that make the price look small</li>
                <li class="list-group-item">Some visionary things that make the price look small</li>
                <li class="list-group-item">Some visionary things that make the price look small</li>
            </ul>
            <button class="btn btn-large btn-success">Sign up</button>
        </div>
        <div class="col-md-4 price--bg price--stand-out">
            <h2>Plus</h2>
            <hr class="double-line">
            <p>$- / month</p>
            <ul class="list-group">
                <li class="list-group-item">Some visionary things that make the price look small</li>
                <li class="list-group-item">Some visionary things that make the price look small</li>
                <li class="list-group-item">Some visionary things that make the price look small</li>
                <li class="list-group-item">Some visionary things that make the price look small</li>
                <li class="list-group-item">Some visionary things that make the price look small</li>
            </ul>
            <button class="btn btn-large btn-success">Sign up</button>
        </div>
        <div class="col-md-4 price--bg">
            <h2>Works</h2>
            <hr class="double-line">
            <p>$- / month</p>
            <ul class="list-group">
                <li class="list-group-item">Some visionary things that make the price look small</li>
                <li class="list-group-item">Some visionary things that make the price look small</li>
                <li class="list-group-item">Some visionary things that make the price look small</li>
                <li class="list-group-item">Some visionary things that make the price look small</li>
                <li class="list-group-item">Some visionary things that make the price look small</li>
            </ul>
            <button class="btn btn-large btn-success">Sign up</button>
        </div>
    </div>
</div>